# API
fastapi
fastapi-pagination

# database
neo4j
redis
redisvl

# UI
chainlit

# configuration management 
python-dotenv
pydantic-settings

# Orchestration
langchain
langchain-community
langchain-experimental
langchain-neo4j
langchain-openai
langchain_ollama
langgraph
langgraph-cli
openai

# testing
pytest

# ETL
tika
selenium
beautifulsoup4

# logging
loguru

# misc
uuid6
tqdm
yfiles_jupyter_graphs
